body {
  text-align: center;
}

p{
  font-size: 1.4em;
}

h1, h3{
font-family: 'Bangers', cursive;
}

h2{
 font-family: 'Bangers', cursive;
 color:white;
}

h4{
  font-style: bold;
  font-family: 'Cinzel', serif;
  margin-left: 35%;
  padding-top: -20%;
  background-color: #D3D3D3;
}

#debmenu{
  font-family: 'Metal Mania', cursive;
  font-size: 2em;
  border-bottom: 2px black solid;


}
.tableau{
  margin-left: 10%;
  font-family: 'Cinzel', serif;
  background-color: #FFFFF0;
}

#phrasetab{
  font-size: 1.5em;
  margin-left: 7%;
  font-family: 'Metal Mania', cursive;


}
.hacheair{
	height: 1px;
	color: #aaa;
	margin-bottom: 1%;
}


span{
  color:yellow;
  font-family: 'Cinzel', serif;
}

li {
  list-style: none;
}

navbar-brand{
	font-size:2em;
}

#navbarText{
padding-left: 20%;
font-size: 1.8em;
}

.nav-lien{
  color:white;
  font-family: 'Bangers', cursive;
}

.nav-lien:hover{
  color:#EEE8AA;
  font-family: 'Bangers', cursive;
}

.navigbar{
  font-size: 2.1em;
}


.nav-link, .navbar-brand{
  font-family: 'Bangers', cursive;
  color:black;
}


#Fellows{
	font-size: 2.5em;
	color: grey;
  text-align: center;
}

.contact{
	text-align: left;
}


input[type=submit]{
  display: block;
  position: relative;
   margin-right: -620px;
}

footer{
	background-color: grey;
	}

.carousel-item h1,  {
  display: table-cell;
  text-align: center; 
  vertical-align: middle;
  position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 200vh;
  display: table;
  text-align: center;
}

.wanteds{
  height: 350px;
  width: 300px;
}

.hunters{
	height: 260px;
  width: 330px;
  border-radius: 3%;
  margin-left: 5%;
}

.ring{
	padding-top: 5%;
	height: 75px;
  width: 60px;
}

.ringlogo{
  height:200px;
  width: 200px;
  position:relative;
  top:0%;
  border-radius: 50%;
  margin-left: 0%;
  padding-top: 3%;
}

.gollumphoto{
  height:280px;
  width: 300px;
  border-radius: 50%;
  margin-left: -60%;
  border: 6px #D3D3D3 solid;
}

.imagearmy{
  height:250px;
  width: 360px;
  margin-top: 5%;
  border-top: 12px solid black;
  border-bottom: 12px solid black;
}

.joinphoto{
	position:relative;
	height: 280px;
	width: 450px;
	margin-left: 10%;
	border-top: 12px solid black;
  	border-bottom: 12px solid black;
}

.map{
	height: 380px;
	width: 500px;
	margin-bottom: 20%;
}
#infos{
	padding-top: 10%;
	margin-left: 30%;
	font-family: 'Cinzel', serif, italic;
}

.wanteds:hover{
  opacity: 0.9;
}

#noms:hover{
  opacity: 0.9;
}

.affiches{
  width: 100%;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.Chasseurs{
	padding-top: 3%;
}
.lanneau{
  padding-top: 8%;
}

.bgimage{
	background-image:url(/Users/supermac/Desktop/wp2.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50% 100%;
}
.bgdeuximage{

	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-image:url(/Users/supermac/Desktop/wp3.jpg);

}


#rancon{
  border-radius: 6px;
  height: auto;
  width: auto;
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: 'Cinzel', serif;
  opacity:1;
  font-size: 0.9em;
  font-weight: bold;
  background-color: rgba(220,220,220, 0.5);
}

#noms{
  top: -40%;
  left: 20%;
  position: relative;
  font-size: 2.3em;
  color:white;
  font-family: 'Cinzel', serif;
}

#avis{
  font-size: 1.1em;
  width: 300px;
  color:white;
  position: relative;
  top:-15%;
  font-family: 'Cinzel', serif;
  background-color: black
}

.btn-outline-warning{
	position:relative;
 	margin-left: 50%;
	border-radius: 50%;
 	font-family: 'Bangers', cursive;
 	font-size: 1.5em; 
}
.btn-outline-warning:hover{
	opacity: 0.9;
}
.btn-outline-secondary{

	margin-top: -140%;
	margin-left: 9%;
	font-family: 'Bangers', cursive;
 	font-size: 1.4em; 
 	border-radius: 10%;
}
.btn-outline-secondary:hover{

	opacity:0.8;
}
#coin{
  margin-left: 40%;
  border-radius: 100%;
}

#question{
  font-family: 'Cinzel', serif;
  padding-top: -20%;
  background-color: #D3D3D3;
}

#comgollum{

  padding-top: 9%;
  margin-left: 30%;
  font-size: 1.4em;
  font-family: 'Metal Mania', cursive;
  color:white;
  
}

.commentaire{
  padding-top: 3%;
}

#gollumsign{

  margin-left: -260%;
  margin-top: 180%;
  font-family: 'Cinzel', serif;
  font-size: 2.1em;
  color:white;
}

.infotojoin{

  padding-top: 10%;
}

#phrasetojoin{

  font-family: 'Cinzel', serif;
}

.touteinfos{
	color:white;
	margin-left: 40%;
	margin-top: 14%;
}
#joinphrase{

	color:#FFF5EE;
	font-size: 2em;
	font-family: 'Cinzel', serif, italic;
	position:relative;
	margin-left: 40%;
	top:-45%;
	text-shadow: 4px 4px 8px black;
}
.credits{
	font-family: 'Cinzel', serif, italic;
	color:black;
	background-color: #FFFFF0;

}
.logositefooter{

	top:3%;
}

@media (min-width: 576px) {
  .affiches {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .affiches  {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .affiches {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .affiches {
    max-width: 1140px;
  }
}




